.desktop {
  /* background-color: #1ce0e04c; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .overlap-wrapper {
  /* background-color: #1ce0e04c; */
  background-image: url(background.png);
  /* background-color: rgb(14, 14, 14); */
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  width: 100vw;

}

.desktop .overlap {
  height: 1569px;
  left: -200px;
  position: relative;
  top: -455px;
  width: 1753px;
}
.desktop .download {
  height: 1024px;
  left: 425px;
  object-fit: cover;
  position: absolute;
  top: 395px;
  width: 100%;
}

.desktop .group {
  -webkit-backdrop-filter: blur(71px) brightness(100%);
  backdrop-filter: blur(71px) brightness(100%);
  height: 1049px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1260px;
}

.desktop .overlap-group {
  height: 1049px;
  position: relative;
}

.desktop .ellipse {
  background-color: rgb(12, 225, 23);
  border-radius: 435.59px;
  height: 871px;
  left: 0;
  position: absolute;
  top: 178px;
  width: 871px;
}

.desktop .div {
  background-color: rgb(12, 225, 23);
  border-radius: 249.5px;
  height: 499px;
  left: 664px;
  position: absolute;
  top: 97px;
  transform: rotate(-34.34deg);
  width: 499px;
}

.desktop .overlap-group-wrapper {
  -webkit-backdrop-filter: blur(74px) brightness(100%);
  backdrop-filter: blur(74px) brightness(100%);
  height: 1049px;
  left: 1127px;
  position: absolute;
  top: 697px;
  transform: rotate(-25.89deg);
  width: 1260px;
}

.desktop .ellipse-2 {
  background-color: rgb(12, 225, 23);
  border-radius: 435.59px;
  height: 871px;
  left: 0;
  position: absolute;
  top: 178px;
  width: 871px;
}

.desktop .ellipse-3 {
  background-color: rgb(12, 225, 23);
  border-radius: 249.5px;
  height: 499px;
  left: 664px;
  position: absolute;
  top: 97px;
  transform: rotate(-34.34deg);
  width: 499px;
}

.desktop .rectangle {
  background-color: #ffffff;
  border-radius: 36px;
  height: 794px;
  left: 753px;
  position: absolute;
  top: 510px;
  width: 783px;
  border-radius: .6rem;
  box-shadow: 0 .2rem .5rem #002e20;
}

.desktop .text-wrapper {
  color: #000000;
  font-family: "Source Serif Pro-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 925px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 553px;
}

.desktop .group-2 {
  height: 93px;
  left: 843px;
  position: absolute;
  top: 664px;
  width: 605px;
}

.desktop .text-wrapper-2 {
  color: #000000;
  font-family: "Source Serif Pro-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.desktop .img {
  height: 63px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 603px;
}

.desktop .group-3 {
  height: 77px;
  left: 857px;
  position: absolute;
  top: 925px;
  width: 419px;
}

.desktop .text-wrapper-3 {
  color: #000000;
  font-family: "Source Serif Pro-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.desktop .group-4 {
  height: 30px;
  left: 11px;
  position: absolute;
  top: 47px;
  width: 95px;
}

.desktop .text-wrapper-4 {
  color: #000000;
  font-family: "Source Serif Pro-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.desktop .ellipse-4 {
  background-color: #1ce0e04c;
  border-radius: 9.5px;
  height: 19px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 19px;
}

.desktop .group-5 {
  height: 30px;
  left: 145px;
  position: absolute;
  top: 47px;
  width: 121px;
}

.desktop .group-6 {
  height: 30px;
  left: 305px;
  position: absolute;
  top: 47px;
  width: 114px;
}

.desktop .group-7 {
  height: 93px;
  left: 843px;
  position: absolute;
  top: 786px;
  width: 605px;
}

.desktop .rectangle-2 {
  background-color: #1ce0e04c;
  border-radius: 10px;
  height: 63px;
  font-size: 25px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 603px;
}

.desktop .group-8 {
  height: 93px;
  left: 843px;
  position: absolute;
  top: 1020px;
  width: 605px;
}

.desktop .rectangle-3 {
  background-color:rgb(12, 225, 23);
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  border-radius: 10px;
  height: 63px;
  left: 1037px;
  position: absolute;
  top: 1192px;
  width: 216px;
}
.desktop .text-wrapper-5 {
  color: #000000;
  font-family: "Source Serif Pro-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 1107px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1208px;
}
.desktop .group-9 {
  height: 93px;
  left: 843px;
  position: absolute;
  top: 1140px;
  width: 605px;
}

.submit {
  color: #000000;
  background-color: #1ce0e0;
  font-family: "Source Serif Pro-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 1030px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1208px;
  border-radius: 10px;
  height: 63px;
  width: 216px;
}