.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 60px; 
  padding: 80px;
  background-image: url('background.png');
  /* background-color: rgb(14, 14, 14); */
  background-size: cover;
}
.card:hover{
  transform: scale(1.02);
}
.card {
  background-color: #ffffff;
  /* border: 1px solid #dddddd; */
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  /* border: 0.2rem solid greenyellow;
  box-shadow: 0 .4rem .8rem greenyellow;
  transition: .4s ease-in ; */
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 10px;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}
.book{
  color: #000000;
  background-color: #1ce0e0;
  font-family: "Source Serif Pro-Regular", Helvetica;
  font-size: 24px;
  font-weight:500;
  letter-spacing: 0;
  border: 0;
  border-radius: 20px;
  height: 45px;
  width: 166px;
}
p {
  font-size: 0.9rem;
  color: #777;
  margin: 5px 0;
}

/* 



.doctor-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px; 
  padding: 20px;
}

.doctor-card {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

p {
  font-size: 0.9rem;
  color: #777;
  margin: 5px 0;
}

.map {
  margin-top: 15px;
}
 */
